MONGODB_URI=mongodb://admin:123456789@mongodb:27017/orders?authSource=admin
RABBITMQ_URL=amqp://admin:123456789@rabbitmq:5672
API_PORT=3001
API_METRICS_PORT=9101
PROCESSOR_METRICS_PORT=9102
PROCESSOR_MAX_ATTEMPTS=3
ERP_FAILURE_RATE=0.1
